body
{
  background-color: #1b2838;
}


p
{
  color: #d0d2da;
}


h1
{
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: bold;
}


h2
{
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
}


h3
{
  color: #ffffff;
  font-size: 1.3rem;
}


h4
{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}


h5
{
  color: #a2a5ae;
  font-size: 13px;
}


.join button
{
  background: #ffffff;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 0;
  padding: 4px 40px 6px;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #334f64;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}


.join button:hover
{
  background-color: #334f64;
  color: #fff;
}


.halloffame_page
{
  text-align: center;
  margin-top: 100px;
}


.halloffame-intro
{
  margin-top: 50px;
  color: #d0d2da;
}


.card-people
{
  margin-top: 70px;
}


.personal-card
{
  padding-bottom: 4%;
}

.card-body {
  height: 200px;
}

.card-link {
  color: #b1ccff;
  transition: color 0.2s;
}

.card-link:hover,
.card-link:active {
  color: #fff;
}

.image {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.705);
}
.image img {
 height: 100%;
}

.img-placeholder {
  color: #334f649a;
  font-size: 130%;
  margin-top: 75px;
}

.list-group {
  background-color: rgb(238, 238, 238);
}

.list-title {
  font-size: 110%;
  font-weight: bold;
  padding: 10px 0;
}

.footer {
  text-align: center;
  margin-top: 70px;
}

.main-footer-text {
  font-size: 120%;
}

.footer p a {
    color: #b1ccff;
    transition: color 0.2s;
}

.footer p a:hover {
  color: #fff;
  text-decoration: none;
}
